@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
    border: 1px black solid;
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  /* I'll give you this one for free lol */
  align-items: center;
  justify-content: center;

  display:flex;
}

.modal {
  display: flex;
  border: 1px black solid;
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  
  justify-content: center;
}

.icon {
  display:flex;
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.close-button {
  display: flex;
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  align-items: center;
  justify-content: center;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}

.header-container {
  display: flex;
  border: 1px black solid; 
  justify-content: space-between;
  padding: 5px;
}

.button-container {
  border: 1px black solid;
  display: flex;
  padding: 5px;
}

.right {
  border: 1px black solid;
  display:flex;
  flex: auto;
  flex-direction: column;
}

.icon-container {
  display:flex;
  border: 1px black solid;
  padding: 5px;
}

.text {
  padding: 5px;
}